<div class="search-box">
    <label class="mode-select">
        <span>Search method</span>
        <select [value]="mode()" (change)="onModeChange($any($event.target).value)">
            <option value="name">Name</option>
            <option value="type">Type</option>
            <option value="ability">Ability</option>
            <option value="move">Move</option>
        </select>
    </label>

    <input type="search" [value]="value()" (input)="onInput($any($event.target).value)" [placeholder]="placeholder()" />
</div>