<div class="layout">
    <section>
        <app-search-box (valueChange)="facade.query.set($event)"></app-search-box>
        @if(facade.results().length > 0){
        <app-results-list [results]="facade.results()" (add)="facade.addToTeam($event)" />
        }
        @if(facade.loading()){
        <div class="muted" style="margin:.75rem 0">Searching...</div>
        }
        @if(facade.error()){
        <div style="color:red">{{ facade.error() }}</div>
        }
        @if(!facade.loading() && facade.results().length === 0){
        <p class="muted">
            Type at least 2 letters to search.
        </p>
        }
    </section>
    <aside>
        <app-team-panel
            [team]="facade.team()"
            [teamName]="facade.teamName()"
            [savedTeams]="facade.savedTeams()"
            [selectedTeamId]="facade.selectedTeamId()"
            [items]="facade.itemOptions()"
            (teamNameChange)="facade.setTeamName($event)"
            (selectTeam)="facade.selectTeam($event)"
            (createTeam)="facade.createCurrentTeam()"
            (remove)="facade.removeFromTeam($event)"
            (clear)="facade.clearTeam()"
            (moveChange)="facade.changePokemonMove($event)"
            (abilityChange)="facade.changePokemonAbility($event)"
            (itemChange)="facade.changePokemonItem($event)"
        />
    </aside>
</div>